<app-breadcrumb [pathOne]="'Icons'"></app-breadcrumb>
<!-- --------------------Material Icons-------------------- -->
<div class="card border-0 shadow-main p-3 my-5">
  <div class="heading raised">
    <h5>Material Icons</h5>
  </div><br>
  <p>Colored</p>
  <div class="row">
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-dark">
          <span class="material-icons">home</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','home','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-danger">
          <span class="material-icons">delete</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-danger','delete','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-success">
          <span class="material-icons">settings</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-success','settings','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-warning">
          <span class="material-icons">favorite</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-warning','favorite','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-violet">
          <span class="material-icons">language</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-violet','language','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-yellow">
          <span class="material-icons">clear</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-yellow','clear','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-brown">
          <span class="material-icons">send</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-brown','send','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-pink">
          <span class="material-icons">location_on</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-pink','location_on','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-primary">
          <span class="material-icons">check_circle</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-primary','check_circle','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-darkcyan">
          <span class="material-icons">dashboard</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-darkcyan','dashboard','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-light-blue">
          <span class="material-icons">motion_photos_on</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-light-blue','motion_photos_on','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
  </div>




  <p>Raised</p>
  <div class="row">
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <span class="material-icons">home</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','home','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <span class="material-icons">delete</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','delete','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <span class="material-icons">settings</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','settings','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <span class="material-icons">favorite</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','favorite','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <span class="material-icons">language</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','language','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <span class="material-icons">clear</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','clear','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <span class="material-icons">send</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','send','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <span class="material-icons">location_on</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','location_on','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <span class="material-icons">check_circle</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','check_circle','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <span class="material-icons">dashboard</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','dashboard','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <span class="material-icons">motion_photos_on</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','motion_photos_on','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
  </div>


  <p>Simple</p>
  <div class="row">
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper ">
          <span class="material-icons">home</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','home','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper ">
          <span class="material-icons">delete</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','delete','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper ">
          <span class="material-icons">settings</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','settings','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper ">
          <span class="material-icons">favorite</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','favorite','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper ">
          <span class="material-icons">language</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','language','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper ">
          <span class="material-icons">clear</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','clear','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper ">
          <span class="material-icons">send</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','send','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper ">
          <span class="material-icons">location_on</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','location_on','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper ">
          <span class="material-icons">check_circle</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','check_circle','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper ">
          <span class="material-icons">dashboard</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','dashboard','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper ">
          <span class="material-icons">motion_photos_on</span>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','motion_photos_on','mat')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"><a target="_blank"
        href="https://fonts.google.com/icons?selected=Material+Icons" class="m-btn-white raised">View more...</a></div>
  </div>
</div>
<!-- --------------------Font-awesome Icons-------------------- -->
<div class="card border-0 shadow-main p-3 my-5">
  <div class="heading raised">
    <h5>Font-awesome Icons</h5>
  </div><br>
  <p>Colored</p>
  <div class="row">
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-dark">
          <i class="fa fa-grav"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('grav','home','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-danger">
          <i class="fa fa-eercast"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-danger','eercast','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-success">
          <i class="fa fa-bug"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-success','bug','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-warning">
          <i class="fa fa-cloud-download"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-warning','cloud-download','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-violet">
          <i class="fa fa-cog"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-violet','cog','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-yellow">
          <i class="fa fa-feed"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-yellow','feed','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-brown">
          <i class="fa fa-folder-open"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-brown','folder-open','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-pink">
          <i class="fa fa-heart"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-pink','heart','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-primary">
          <i class="fa fa-globe"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-primary','globe','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-darkcyan">
          <i class="fa fa-paper-plane"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-darkcyan','paper-plane','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper i-light-blue">
          <i class="fa fa-pie-chart"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('i-light-blue','pie-chart','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
  </div>




  <p>Raised</p>
  <div class="row">
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <i class="fa fa-grav"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','home','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <i class="fa fa-eercast"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','eercast','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <i class="fa fa-bug"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','bug','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <i class="fa fa-cloud-download"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','cloud-download','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <i class="fa fa-cog"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','cog','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <i class="fa fa-feed"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','feed','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <i class="fa fa-folder-open"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','folder-open','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <i class="fa fa-heart"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','heart','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <i class="fa fa-globe"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','globe','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <i class="fa fa-paper-plane"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','paper-plane','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper raised">
          <i class="fa fa-pie-chart"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('raised','pie-chart','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
  </div>

  <p>Simple</p>
  <div class="row">
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper">
          <i class="fa fa-grav"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','home','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper">
          <i class="fa fa-eercast"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','eercast','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper">
          <i class="fa fa-bug"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','bug','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper">
          <i class="fa fa-cloud-download"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','cloud-download','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper">
          <i class="fa fa-cog"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','cog','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper">
          <i class="fa fa-feed"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','feed','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper">
          <i class="fa fa-folder-open"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','folder-open','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper">
          <i class="fa fa-heart"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','heart','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper">
          <i class="fa fa-globe"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','globe','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper">
          <i class="fa fa-paper-plane"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','paper-plane','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
    <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 mb-2">
      <div class="main-wrapper">
        <div class="icon-wrapper">
          <i class="fa fa-pie-chart"></i>
        </div>
        <button class="i-text-btn" (click)="copyHeroName('','pie-chart','fa')">
          <span class="material-icons">content_copy</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"><a target="_blank"
        href="https://fontawesome.com/v4.7.0/icons/" class="m-btn-white raised">View more...</a></div>
  </div>
</div>
