.btns{
  border: none;
  outline: none;
  background-color: #0091ff;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #BBB;

  position: relative;
  overflow: hidden;
}
