<ol class="breadcrumb p-0 bg-transparent">
  <li class="breadcrumb-item"><a class="bread-1" href="#">Home</a></li>
  <ng-container *ngIf="pathOne!==''">
    <li class="breadcrumb-item bread-active" aria-current="page">{{pathOne}}</li>
  </ng-container>
  <ng-container *ngIf="pathTwo!==''">
    <li class="breadcrumb-item bread-active" aria-current="page">{{pathTwo}}</li>
  </ng-container>
  <ng-container *ngIf="pathThree!==''">
    <li class="breadcrumb-item bread-active" aria-current="page">{{pathThree}}</li>
  </ng-container>
</ol>
