
<div class="container-fluid">
  <div class="row">
    <nav class="col-2 d-none d-md-block  sidebar">
      <div class="row p-0 m-0">
        <!-- <div class="col-3 p-0 m-0 side1 d-none d-sm-none d-md-none d-lg-block">
          <div class="logo">
            <img src="../../assets/images/frog.svg" alt="logo">
          </div>
          <button class="dashbutton">
            <span><i class="fa fa-th text-white"></i></span>
          </button>
          <div class="position-absolute w-100 bottom-0 bg-m text-center">
            <button class="bottom-icons">
              <span><i class="fa fa-headphones"></i></span>
            </button>
            <button class="bottom-icons">
              <span><i class="fa fa-lock"></i></span>
            </button>
            <button class="bottom-icons">
              <span><i class="fa fa-sign-out"></i></span>
            </button>
            <div class="bottom-icons"><img class="mb-2" src="../../assets/images/girl.svg" alt="avatar"></div>
          </div>
        </div> -->
        <div class="col-12 p-0 m-0 vh-100 side2">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <div class="links-wrapper">
                <div class="brand-logo">
                  <img src="../../assets/images/Logo.svg" alt="">
                </div>
                <div class="link-buttons">
                  <button class="m-btn m-btn--white-danger" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >
                    <span><i class="fa fa-tachometer"></i> Dashboard</span>
                  </button>
                </div>
                <div class="link-buttons">
                  <button class="m-btn m-btn--white-danger" [routerLink]="['/buttons']" routerLinkActive="router-link-active">
                    <span><i class="fa fa-dot-circle-o"></i> Buttons</span>
                  </button>
                </div>
                <div class="link-buttons">
                  <button class="m-btn m-btn--white-danger" [routerLink]="['/tables']" routerLinkActive="router-link-active">
                    <span><i class="fa fa-th"></i> Tables</span>
                  </button>
                </div>
                <div class="link-buttons">
                  <button class="m-btn m-btn--white-danger" [routerLink]="['/charts']" routerLinkActive="router-link-active">
                    <span><i class="fa fa-line-chart"></i> Charts</span>
                  </button>
                </div>
                <div class="link-buttons">
                  <button class="m-btn m-btn--white-danger" [routerLink]="['/icons']" routerLinkActive="router-link-active">
                    <span><i class="fa fa-ravelry"></i> Icons</span>
                  </button>
                </div>
                <div class="link-buttons">
                  <button class="m-btn m-btn--white-danger" [routerLink]="['/forms']" routerLinkActive="router-link-active">
                    <span><i class="fa fa-table"></i> Forms</span>
                  </button>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4 main-bg">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
